<!DOCTYPE html>
<html lang="si">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link rel="stylesheet" href="../static/style.css" />
    </head>
    <body>
        <div class="container">
            {% if message %}
            <p class="message">{{ message | safe }}</p>
            {% endif %}
            <h2 class="header">හෙළ ගීත පදවැල්</h2>
            <form action="/search" method="POST">
              <div class="form-group" lang="si">
                <h3>සොයන්න</h3>
                <input
                  type="text"
                  name="query"
                  placeholder="ඇතුලත් කරන්න"
                />
              </div>
            </form>
            {% if response!=None %}
            <p>ප්‍රතිපල ගණන - {{response['hits']['total']['value']}}</p>
            {% if response['aggregations'] != None %}
            {% if response['aggregations']['genre_agg'] != None %}
            <h3>කණ්ඩායම් වර්ගකිරීම</h3>
            {% for bucket in response['aggregations']['genre_agg']['buckets']%}
            <p>{{bucket['key']}}: {{bucket['doc_count']}}</p>
            {% endfor %}
            {% endif %}
            {% endif %}

            {% for res in response['hits']['hits']%}
            <div class="result">
               <p>නම: {{res['_source']['title_si']}}</p>
               <p>ගායකයා: {{res['_source']['artist']}}</p>
               <p>ප්‍රභේදය: {{res['_source']['genre']}}</p>
               <p>රචකයා: {{res['_source']['writer']}}</p>
               <p>සංගීතය: {{res['_source']['music']}}</p>
               <p>ශ්‍රේණිගත කිරීම: {{res['_source']['rating']}}</p>
               <p>පද වැල: {{res['_source']['lyrics']}}</p>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </body>
</html>
